body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    height: 700px;
    width: 700px;
}

.playboard {
    background-image: url("assets/grass-background-img.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.apple-image {
    height: 30px;
    width: 30px;
}

.apple-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-image {
    height: 40px;
    width: 40px;
}

.head-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-bar {
    background-color: rgb(160, 175, 105);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-weight: 900;
    font-family: Verdana, sans-serif;
}

.controls {
    background-color: rgb(160, 175, 105);
    display: none;
}

.controls i {
    padding: 20px 60px;
    font-size: 40px;
    cursor: pointer;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .controls{
        display: block;
    }
}
